In [5]:
import pandas as pd

# Load the Parquet file into a DataFrame
df = pd.read_parquet('train_eegs/722738444.parquet')

print(df.shape)
df.head(10)

(14800, 20)

,Fp1,F3,C3,P3,F7,T3,T5,O1,Fz,Cz,Pz,Fp2,F4,C4,P4,F8,T4,T6,O2,EKG
0,-33.500000,-15.950000,27.120001,19.670000,10.100000,18.610001,27.379999,-2.130000,-16.750000,1.86,-3.19,-52.900002,-44.400002,25.790001,13.560000,-20.740000,-77.089996,-58.220001,-22.059999,-2.39
1,-30.570000,-12.760000,28.180000,21.530001,13.030000,15.150000,27.379999,0.000000,-15.680000,2.92,0.53,-52.369999,-44.930000,30.570000,22.330000,-21.799999,-70.180000,-48.650002,-18.340000,2.93
2,-34.029999,-18.610001,24.990000,15.420000,4.790000,13.560000,22.059999,-5.050000,-18.340000,0.53,-4.79,-55.830002,-48.910000,29.240000,25.790001,-19.940001,-62.740002,-46.790001,-22.330000,2.39
3,-32.430000,-18.610001,26.850000,19.139999,5.050000,13.290000,24.190001,0.000000,-19.940001,3.72,0.00,-55.029999,-47.590000,31.900000,34.029999,-11.170000,-53.700001,-39.610001,-16.219999,-3.46
4,-30.309999,-11.700000,34.029999,27.650000,13.560000,21.270000,34.560001,10.370000,-19.410000,8.24,8.77,-55.560001,-47.590000,32.959999,42.529999,-8.240000,-47.849998,-27.910000,-4.250000,0.00
5,-28.709999,-11.170000,31.900000,24.459999,13.030000,18.610001,29.770000,6.380000,-21.799999,5.05,5.32,-60.080002,-51.570000,30.570000,44.400002,-9.840000,-44.930000,-24.190001,-4.250000,2.39
6,-24.459999,-7.180000,32.700001,25.250000,14.360000,15.680000,31.100000,8.770000,-22.330000,6.38,7.71,-57.160000,-50.779999,30.570000,49.709999,-2.390000,-38.549999,-18.870001,-0.530000,-2.66
7,-17.809999,0.000000,38.549999,33.230000,23.129999,21.270000,38.279999,16.750000,-19.670000,11.17,16.48,-54.500000,-47.849998,30.570000,53.970001,2.390000,-35.090000,-11.700000,9.570000,-1.60
8,-16.750000,1.860000,41.200001,34.560001,22.600000,24.990000,42.000000,17.809999,-19.410000,7.71,15.95,-58.220001,-53.169998,24.990000,53.169998,-2.660000,-38.009998,-9.570000,12.490000,1.59
9,-13.820000,0.800000,37.480000,29.770000,17.549999,13.560000,37.220001,15.150000,-21.270000,3.99,11.70,-60.610001,-55.830002,22.860001,52.639999,-1.860000,-38.810001,-13.560000,10.100000,-1.86

In [2]:
! pip install pyarrow

Requirement already satisfied: pyarrow in /Users/ehsanmacpro2022/miniforge3/lib/python3.10/site-packages (15.0.1)
Requirement already satisfied: numpy<2,>=1.16.6 in /Users/ehsanmacpro2022/miniforge3/lib/python3.10/site-packages (from pyarrow) (1.24.2)

In [44]:
# Load the CSV file into a DataFrame
df = pd.read_csv('train.csv')
unique_rows = df.drop_duplicates(subset=['eeg_id', 'spectrogram_id', 'patient_id'])

display(df.head(10))
display(unique_rows.head(10))
display(unique_rows.shape)

,eeg_id,eeg_sub_id,eeg_label_offset_seconds,spectrogram_id,spectrogram_sub_id,spectrogram_label_offset_seconds,label_id,patient_id,expert_consensus,seizure_vote,lpd_vote,gpd_vote,lrda_vote,grda_vote,other_vote
0,1628180742,0,0.0,353733,0,0.0,127492639,42516,Seizure,3,0,0,0,0,0
1,1628180742,1,6.0,353733,1,6.0,3887563113,42516,Seizure,3,0,0,0,0,0
2,1628180742,2,8.0,353733,2,8.0,1142670488,42516,Seizure,3,0,0,0,0,0
3,1628180742,3,18.0,353733,3,18.0,2718991173,42516,Seizure,3,0,0,0,0,0
4,1628180742,4,24.0,353733,4,24.0,3080632009,42516,Seizure,3,0,0,0,0,0
5,1628180742,5,26.0,353733,5,26.0,2413091605,42516,Seizure,3,0,0,0,0,0
6,1628180742,6,30.0,353733,6,30.0,364593930,42516,Seizure,3,0,0,0,0,0
7,1628180742,7,36.0,353733,7,36.0,3811483573,42516,Seizure,3,0,0,0,0,0
8,1628180742,8,40.0,353733,8,40.0,3388718494,42516,Seizure,3,0,0,0,0,0
9,2277392603,0,0.0,924234,0,0.0,1978807404,30539,GPD,0,0,5,0,1,5

,eeg_id,eeg_sub_id,eeg_label_offset_seconds,spectrogram_id,spectrogram_sub_id,spectrogram_label_offset_seconds,label_id,patient_id,expert_consensus,seizure_vote,lpd_vote,gpd_vote,lrda_vote,grda_vote,other_vote
0,1628180742,0,0.0,353733,0,0.0,127492639,42516,Seizure,3,0,0,0,0,0
9,2277392603,0,0.0,924234,0,0.0,1978807404,30539,GPD,0,0,5,0,1,5
11,722738444,0,0.0,999431,0,0.0,557980729,56885,LRDA,0,1,0,14,0,1
22,387987538,0,0.0,1084844,0,0.0,4099147263,4264,LRDA,0,0,0,3,0,0
28,2175806584,0,0.0,1219001,0,0.0,1963161945,23435,Seizure,3,0,0,0,0,0
30,1626798710,0,0.0,1219001,2,74.0,3631726128,23435,Seizure,3,0,2,0,0,0
32,2529955608,0,0.0,1219001,4,190.0,4265493714,23435,Seizure,3,0,2,0,0,0
35,1202099836,0,0.0,1353070,0,0.0,3051612434,34554,Other,0,0,5,0,0,9
36,3037445252,0,0.0,1730458,0,0.0,3774460362,10187,Other,0,0,1,0,0,2
38,2289322082,0,0.0,1730458,2,270.0,2678832786,10187,Other,0,0,0,0,0,3

(17089, 15)

In [4]:
# Load the CSV file into a DataFrame
df = pd.read_csv('test.csv')

df.head()

   spectrogram_id      eeg_id  patient_id
0          853520  3911565283        6885

In [49]:
GET_ROW = 1
EEG_PATH = 'train_eegs/'
SPEC_PATH = 'train_spectrograms/'

train = pd.read_csv('train.csv')
row = train.iloc[GET_ROW]

print(row)
print("---------------")

eeg = pd.read_parquet(f'{EEG_PATH}{row.eeg_id}.parquet')

print("using row.eeg_id:", row.eeg_id)
print(f'{EEG_PATH}{row.eeg_id}.parquet')
display(eeg.head())
print(eeg.shape)
print("---------------")

eeg_offset = int( row.eeg_label_offset_seconds )
eeg = eeg.iloc[eeg_offset*200:(eeg_offset+50)*200]

print("using row.eeg_id:", row.eeg_id)
print(f'{EEG_PATH}{row.eeg_id}.parquet')
display(eeg.head())
print(eeg.shape)
print("---------------")


spectrogram = pd.read_parquet(f'{SPEC_PATH}{row.spectrogram_id}.parquet')

print("row.spectrogram_id:", row.spectrogram_id)
print(f'{SPEC_PATH}{row.spectrogram_id}.parquet')
display(spectrogram.head())
print(spectrogram.shape)
print("---------------")

spec_offset = int( row.spectrogram_label_offset_seconds )
spectrogram = spectrogram.loc[(spectrogram.time>=spec_offset)
                     &(spectrogram.time<spec_offset+600)]

print("row.spectrogram_id", row.spectrogram_id)
print(f'{SPEC_PATH}{row.spectrogram_id}.parquet')
display(spectrogram.head())
print(spectrogram.shape)

#headers_list = spectrogram.columns.tolist()
#print(headers_list)

combined_df = pd.concat([spectrogram, eeg], axis=0)
combined_df.reset_index(drop=True, inplace=True)
df_filled = combined_df.fillna(combined_df.mean())
display(df_filled.head())
display(df_filled.shape)

eeg_id                              1628180742
eeg_sub_id                                   1
eeg_label_offset_seconds                   6.0
spectrogram_id                          353733
spectrogram_sub_id                           1
spectrogram_label_offset_seconds           6.0
label_id                            3887563113
patient_id                               42516
expert_consensus                       Seizure
seizure_vote                                 3
lpd_vote                                     0
gpd_vote                                     0
lrda_vote                                    0
grda_vote                                    0
other_vote                                   0
Name: 1, dtype: object
---------------
using row.eeg_id: 1628180742
train_eegs/1628180742.parquet

,Fp1,F3,C3,P3,F7,T3,T5,O1,Fz,Cz,Pz,Fp2,F4,C4,P4,F8,T4,T6,O2,EKG
0,-80.519997,-70.540001,-80.110001,-108.750000,-120.330002,-88.620003,-101.750000,-104.489998,-99.129997,-90.389999,-97.040001,-77.989998,-88.830002,-112.120003,-108.110001,-95.949997,-98.360001,-121.730003,-106.449997,7.920000
1,-80.449997,-70.330002,-81.760002,-107.669998,-120.769997,-90.820000,-104.260002,-99.730003,-99.070000,-92.290001,-96.019997,-84.500000,-84.989998,-115.610001,-103.860001,-97.470001,-89.290001,-115.500000,-102.059998,29.219999
2,-80.209999,-75.870003,-82.050003,-106.010002,-117.500000,-87.489998,-99.589996,-96.820000,-119.680000,-99.360001,-91.110001,-99.440002,-104.589996,-127.529999,-113.349998,-95.870003,-96.019997,-123.879997,-105.790001,45.740002
3,-84.709999,-75.339996,-87.480003,-108.970001,-121.410004,-94.750000,-105.370003,-100.279999,-113.839996,-102.059998,-95.040001,-99.230003,-101.220001,-125.769997,-111.889999,-97.459999,-97.180000,-128.940002,-109.889999,83.870003
4,-90.570000,-80.790001,-93.000000,-113.870003,-129.960007,-102.860001,-118.599998,-101.099998,-107.660004,-102.339996,-98.510002,-95.300003,-88.930000,-115.639999,-99.800003,-97.500000,-88.730003,-114.849998,-100.250000,97.769997

(18000, 20)
---------------
using row.eeg_id: 1628180742
train_eegs/1628180742.parquet

,Fp1,F3,C3,P3,F7,T3,T5,O1,Fz,Cz,Pz,Fp2,F4,C4,P4,F8,T4,T6,O2,EKG
1200,-129.460007,-115.580002,-115.129997,-157.440002,-166.979996,-126.260002,-133.429993,-124.349998,-116.629997,-112.110001,-117.040001,-103.169998,-100.070000,-133.970001,-103.449997,-100.059998,-90.040001,-132.460007,-107.230003,-5.900000
1201,-128.740005,-112.330002,-112.059998,-154.830002,-164.440002,-121.230003,-135.380005,-122.269997,-114.930000,-107.370003,-111.059998,-100.480003,-96.330002,-122.019997,-95.400002,-98.309998,-83.660004,-122.070000,-97.180000,9.670000
1202,-128.600006,-112.550003,-107.489998,-148.360001,-154.089996,-114.110001,-129.470001,-115.989998,-123.620003,-104.839996,-100.190002,-104.250000,-106.040001,-116.940002,-96.059998,-96.620003,-91.120003,-127.430000,-93.900002,-3.030000
1203,-123.449997,-106.440002,-108.870003,-148.309998,-158.080002,-118.129997,-133.350006,-117.790001,-106.150002,-95.480003,-97.440002,-93.980003,-90.500000,-109.900002,-86.510002,-93.559998,-86.019997,-121.650002,-92.110001,33.880001
1204,-129.770004,-119.430000,-111.879997,-148.029999,-145.830002,-118.040001,-140.699997,-113.980003,-97.209999,-85.459999,-91.620003,-83.529999,-71.750000,-96.820000,-71.599998,-85.779999,-68.370003,-105.889999,-85.059998,65.309998

(10000, 20)
---------------
row.spectrogram_id: 353733
train_spectrograms/353733.parquet

,time,LL_0.59,LL_0.78,LL_0.98,LL_1.17,LL_1.37,LL_1.56,LL_1.76,LL_1.95,LL_2.15,...,RP_18.16,RP_18.36,RP_18.55,RP_18.75,RP_18.95,RP_19.14,RP_19.34,RP_19.53,RP_19.73,RP_19.92
0,1,4.26,10.98,9.05,13.65,11.49,8.930000,18.840000,19.26,19.240000,...,0.31,0.17,0.28,0.19,0.24,0.27,0.29,0.16,0.22,0.19
1,3,2.65,3.97,12.18,13.26,14.21,13.230000,9.650000,8.11,11.280000,...,0.15,0.13,0.14,0.24,0.24,0.36,0.35,0.31,0.36,0.40
2,5,4.18,4.53,8.77,14.26,13.36,16.559999,19.219999,17.51,22.650000,...,0.29,0.21,0.16,0.25,0.28,0.28,0.34,0.48,0.44,0.48
3,7,2.41,3.21,4.92,8.07,5.97,12.420000,10.820000,14.96,21.809999,...,0.33,0.51,0.49,0.64,0.58,0.42,0.32,0.31,0.32,0.33
4,9,2.29,2.44,2.77,4.62,5.39,7.080000,9.840000,12.27,14.410000,...,0.44,0.38,0.48,0.63,0.45,0.45,0.49,0.33,0.31,0.34

(320, 401)
---------------
row.spectrogram_id 353733
train_spectrograms/353733.parquet

,time,LL_0.59,LL_0.78,LL_0.98,LL_1.17,LL_1.37,LL_1.56,LL_1.76,LL_1.95,LL_2.15,...,RP_18.16,RP_18.36,RP_18.55,RP_18.75,RP_18.95,RP_19.14,RP_19.34,RP_19.53,RP_19.73,RP_19.92
3,7,2.41,3.21,4.92,8.07,5.97,12.42,10.82,14.960000,21.809999,...,0.33,0.51,0.49,0.64,0.58,0.42,0.32,0.31,0.32,0.33
4,9,2.29,2.44,2.77,4.62,5.39,7.08,9.84,12.270000,14.410000,...,0.44,0.38,0.48,0.63,0.45,0.45,0.49,0.33,0.31,0.34
5,11,2.77,3.50,5.17,4.29,4.45,6.99,8.96,7.870000,18.200001,...,0.36,0.33,0.48,0.23,0.24,0.22,0.22,0.18,0.16,0.27
6,13,2.87,3.45,3.10,3.94,8.17,11.74,14.71,18.590000,24.660000,...,0.39,0.40,0.38,0.52,0.46,0.33,0.35,0.18,0.23,0.23
7,15,3.86,4.07,4.26,6.46,8.06,11.39,9.60,16.530001,23.459999,...,0.36,0.39,0.50,0.53,0.43,0.48,0.33,0.24,0.18,0.20

(300, 401)

,time,LL_0.59,LL_0.78,LL_0.98,LL_1.17,LL_1.37,LL_1.56,LL_1.76,LL_1.95,LL_2.15,...,Pz,Fp2,F4,C4,P4,F8,T4,T6,O2,EKG
0,7.0,2.41,3.21,4.92,8.07,5.97,12.42,10.82,14.960000,21.809999,...,-103.200516,-120.818275,-119.769653,-147.671768,-162.663467,-118.857437,-105.048965,-133.098434,-113.617165,15.293444
1,9.0,2.29,2.44,2.77,4.62,5.39,7.08,9.84,12.270000,14.410000,...,-103.200516,-120.818275,-119.769653,-147.671768,-162.663467,-118.857437,-105.048965,-133.098434,-113.617165,15.293444
2,11.0,2.77,3.50,5.17,4.29,4.45,6.99,8.96,7.870000,18.200001,...,-103.200516,-120.818275,-119.769653,-147.671768,-162.663467,-118.857437,-105.048965,-133.098434,-113.617165,15.293444
3,13.0,2.87,3.45,3.10,3.94,8.17,11.74,14.71,18.590000,24.660000,...,-103.200516,-120.818275,-119.769653,-147.671768,-162.663467,-118.857437,-105.048965,-133.098434,-113.617165,15.293444
4,15.0,3.86,4.07,4.26,6.46,8.06,11.39,9.60,16.530001,23.459999,...,-103.200516,-120.818275,-119.769653,-147.671768,-162.663467,-118.857437,-105.048965,-133.098434,-113.617165,15.293444

(10300, 421)

EEG: (10000/400) * 20 = 25*20 & spectrogram: we want middle 25 row -> 300/2=150  pick [150+12,150-13]

1 model